{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #78d3f7;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    form.example button:hover {
      background: grey;
    }
    
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }

    .dropdown {
        display:inline-block;
        margin-left: 500px;       /* This is when the drop down box appears */
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        font-size: 15px;
    }
    
</style>

{% endblock %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a class="active" href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>

<p style="font-size:20px; padding-left:400px">Select the field in which you want to obtain the information:</p>

<select class="dropdown" onchange="location = this.value;">
    <option selected disabled hidden> Choose here </option>
    <option value="/devices_information" >Devices information </option>
    <option value="/ipam">IP-Address Management (IPAM) </option>
    <option value="/server_services">Server services </option>
    <option value="/switch_configuration">Switch configuration </option>
</select>

<br>
<br>
<br>
<br>

{% endblock %}