{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #0e4f74;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    form.example button:hover {
      background: grey;
    }
    
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

<style>
  .button {
      border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
    margin: 9px 8px;
  }
  
  .button1 {
    background-color: #2394bc;
    color: white;
    border: 2px solid #2394bc;
  
  }
  
  .button1:hover {
    background-color: #2394bc;
    color: white;
    border: 2px solid grey;
  
  }

  .button2 {
    background-color: #2394bc;
    color: white;
    border: 2px solid #2394bc;
  
  }
  
  .button2:hover {
    background-color: #2394bc;
    color: white;
    border: 2px solid grey;
  
  }
  
  </style>

{% endblock %}

{% block content %}
 
<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a class="active" href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>


<h2 style="margin:auto;max-width:300px;font-size:18px">Search</h2>

<form class="example" action="/show_devices_search" method = "POST" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search..." name="tsearch">
  <button type="submit"  value = "Submit"><i class="fa fa-search"></i></button>
</form>

<br>
<br>
<button class="button button1"  value="Go back!" onclick="location.href='http://127.0.0.1:5000/administration'"> Return</button>

<button class="button button2"  value="Go home!" onclick="location.href='http://127.0.0.1:5000/'"> Home</button>

<br>
<br>

<h1 style="font-size:20px; padding-left:20px"> Devices information</h1>
<ul id="/show_search">
    {% for field in result: %}
    <p> <b> Device:</b> {{field[1]}} <br>
        <b> Location:</b> {{field[2]}} &nbsp&nbsp <b> IP-address:</b> {{field[3]}} <br>
        <b> Ports:</b> {{field[4]}} &nbsp&nbsp <b> etc:</b> {{field[5]}} &nbsp&nbsp <b></b>
    {% endfor %} 
  </ul>
  </ul>

<br>
<br>
<br>
{% endblock %}