{% extends "layout.html" %}

{% block head %}
<style>
  .button {
      border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
    margin: 9px 8px;
  }
  
  .button1 {
    background-color: #2394bc;
    color: white;
    border: 2px solid #2394bc;
  
  }
  
  .button1:hover {
    background-color: grey;
    color: white;
    border: 2px solid grey;
  
  }
  
  </style>

{% endblock %}

{% block content %}

<div class="header">
  <a href="#default" class="logo">GEEK-Fitness</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a class="active" href="/administration">Administration</a>
    <a href="/subnet_tool"> Subnet tool</a>
    <a href="/login"> Login-Logout</a>
  </div>
</div>
<br>
<br>

<p style="padding-left:20px">Error. Data not found.</p>
<button class="button button1"  value="Go back!" onclick="location.href='http://127.0.0.1:5000/ipam'">Return</button>

{% endblock %}