{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a class="active"  href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>
<head>
  <title>Registration Page</title>
</head>
<body>
  <form action="/registration" method="post">
    <div>
      <label for="firstName" style="padding-left:20px">First Name</label>
      <input type="text"class="form-control"id="firstName"name="firstName"/>
    </div>
    <div>
      <label for="lastName" style="padding-left:20px">Last Name</label>
      <input type="text"class="form-control"id="lastName" name="lastName"/>
    </div>
    <div>
      <label for="email" style="padding-left:20px">Email</label>
      <input type="email" class="form-control" id="email" name="email"/>
    </div>
    <div>
      <label for="password" style="padding-left:20px">Password</label>
      <input type="password" class="form-control" id="password" name="password"/>
    </div>
    <input type="submit" value="Submit" name=""/>
  </form>
</body>
</html>

{% endblock %}