{% extends "layout.html" %}

{% block head %}
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>

{% endblock %}

{% block content %}
  <div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>

&nbsp;

<div style="padding-left:20px">
  <h1 style="text-align:center;">My GEEK-Fitness </h1>
  <p>This application allows you to: </p>
  <ul>
    <li><b>Aministration:</b> Here you can find any information you need about devices information, IPAM, server services or switch configuration</li>
    &nbsp;
    <li><b>Subnetting Tool:</b>This tool reads an IP address, a subnet mask and the number of subnets you want. Provides as an output an overview of the possible subnets</li>
  </ul>  
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="/static/geek.png" alt="Image_GEEK-Fitnes" style="text-align: left;">

<br>
<br>
<br>
<br>


{% endblock %}