{% extends "layout.html" %}


{% block head %}
<style>
    .button {
        border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 8px 12px;
      font-size: 15px;
      cursor: pointer;
      margin: 9px 8px;
    }
    
    .button1 {
      background-color: #2394bc;
      color: white;
      border: 2px solid #2394bc;
    
    }
    
    .button1:hover {
      background-color: #2394bc;
      color: white;
      border: 2px solid grey;
    
    }
  
    .button2 {
      background-color: #2394bc;
      color: white;
      border: 2px solid #2394bc;
    
    }
    
    .button2:hover {
      background-color: #2394bc;
      color: white;
      border: 2px solid grey;
    
    }
    
    </style>

{% endblock %}

{% block content %}
<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/administration">Administration</a>
      <a class="active" href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>

<h1 style="font-size:20px; padding-left:20px"> IP information</h1>
<ul id="/show_host">
    <p>Network Address: {{net_addr_result}} </p>
    <p>Number of Hosts:  {{hosts}} </p>
    <p>Size of Subnets: {{size_subnet}}</p>
    <p>Network Adresse: {{Network_Adresse}}</p>
    <p>Broadcast Adresse: {{Broadcast_Adresse}}</p>
    {%for i in range(hosts)%}
    <p>{{i}}. Subnet Network Address: {{subnets_network[i]}} </p>
    <p>{{i}}. Subnet Broadcast Adresse: {{subnets_broad[i]}} </p>
    {%endfor%}
    </form>
    
  
  </ul>
<br>
<br>
<br>
{% endblock %}