<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:,">

        {% block head %}
        {% endblock %}

        <style>
        
            * {box-sizing: border-box;}
            
            
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .header {
                overflow: hidden;
                background-color:#2394bc;
                padding: 20px 10px;
            }
            
            .header a {
                float: left;
                color: black;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                font-size: 18px; 
                line-height: 25px;
                border-radius: 4px;
            }
            
            .header a.logo {
                font-size: 25px;
                font-weight: bold;
            }
            
            .header a:hover {
                background-color: #ddd;
                color: black;
            }

            .header a.active {
                background-color: #333;
                color: white;
            }
            
            .header-right {
                float: right;
            }
            
            .navbar {
                overflow: hidden;
                background-color:  #ddd;  
                position: fixed;
                bottom: 0;
                width: 100%;
            }
            
            .navbar a {
                float: right;
                display: block;
                color: #050303;
                text-align: center;
                padding: 10px 8px;
                text-decoration: none;
                font-size: 17px;
            }
            
            .navbar a.active {
                background-color: #947489;
                color: white;
            }

            @media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
             }
  

             .header-right {
                float: none;
            }
            }

            @media screen and (max-width: 600px) {
            .navbar a:not(:first-child) {display: none;}

            }
        </style>
    </head>

    <body>
        {% block content %}
        {% endblock %}
        <div class="navbar" id="myNavbar">
        <p style="padding-right:20px; float:right"> GEEK-Fitness </p>
        </div>
    </body>
</html>