{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
	  <a class="active"  href="/login"> Login-Logout</a>
    </div>
</div>
<br>

<p style="padding-left:20px"> Please, log in (or register in case you are a new employee in the company) in order to have access</p>
<br>
<body>
    <form action="/logged" method="POST">
		
		<div>
        	<label for="email" style="padding-left:20px">Email</label>
			<input type="email" id="email" class="form-control" name="email" />
		</div>
		<div>
        	<label for="password" style="padding-left:20px">Password</label>
			<input type="password" id="password" class="form-control" name="password" />
		</div>
		<div>
        <input type="submit" value="Login" name="">
	</div>
    </form>

	<form method="GET">
		<a href="/getaccount" style="padding-left:20px">Are you a new employee in the company? Register here!</a>
	  </form>
</body>


<br>
<br>
<br>
<br>

{% endblock %}