{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a class="active"  href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>
<body>
  	<form method="GET">
      <p style="padding-left:20px">If you want to logout, {{name}}, </p>
      <a href="/logout" style="padding-left:20px"> click here!</a>
      </form>
      </p>
</body>

{% endblock %}