{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a class="active"  href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>
<head>
  <title>Error</title>
</head>
<body>
  <p style="padding-left:20px">Email already exists.</p>
</body>

{% endblock %}