{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a class="active" href="/administration">Administration</a>
      <a href="/subnets_tool"> Subnets tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>
<h2 style="margin:auto;max-width:300px;font-size:18px">Search</h2>
        
<p>hola</p>




</body>
</html>

<br>
<br>
<br>
<br>

{% endblock %}