{% extends "layout.html" %}


{% block head %}
<style>
  .button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
    margin: 9px 8px;
  }
  
  .button1 {
    background-color: #947489;
    color: white;
    border: 2px solid #947489;
  
  }
  
  .button1:hover {
    background-color: #947489;
    color: white;
    border: 2px solid grey;
  
  }
  
  </style>

{% endblock %}

{% block content %}
  <div class="header">
    <a href="#default" class="logo">KRAUT UND RÜBEN</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a class="active" href="/rezepte">Rezepte</a>
      <a href="/kunde"> Kunde</a>
    </div>
</div>

<h1 style="font-size:20px; padding-left:20px"> Kunde</h1>
<ul id="/show_rezept_search">
    {% for kontakt in result: %}
    <p> <b> ID Rezept:</b> {{kontakt[0]}} <br>
        <b> Rezept Name:</b> {{kontakt[1]}} &nbsp&nbsp <b> Anleitung:</b> {{kontakt[2]}} &nbsp&nbsp <b> Zeit:</b> {{kontakt[3]}} <br>
    {% endfor %} 
  </ul>
  </ul>
<button class="button button1"  value="Go back!" onclick="location.href='http://127.0.0.1:5000/loeschen_kunde'"> Return</button>
<br>
<br>
<br>
<br>
<br>
{% endblock %}