{% extends "layout.html" %}

{% block content %}

<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a  href="/administration">Administration</a>
      <a class="active" href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<form action="/ip_address_tool" method = "POST">
  <p style="padding-left:20px"></a> Enter the following information : </p>
  <p style="padding-left:20px"> IP address with Subnet: <input type = "text" name = "tsearch" /></p>
  <p style="padding-left:20px"> Number of hosts: <input type = "text" name = "tsearch1" /></p>
  <input type="submit" value="Submit">
</form>
<br>
<br>

{% endblock %}