{% extends "layout.html" %}


{% block head %}
<style>
    .button {
        border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 8px 12px;
      font-size: 15px;
      cursor: pointer;
      margin: 9px 8px;
    }
    
    .button1 {
      background-color: #2394bc;
      color: white;
      border: 2px solid #2394bc;
    
    }
    
    .button1:hover {
      background-color: #2394bc;
      color: white;
      border: 2px solid grey;
    
    }
  
    .button2 {
      background-color: #2394bc;
      color: white;
      border: 2px solid #2394bc;
    
    }
    
    .button2:hover {
      background-color: #2394bc;
      color: white;
      border: 2px solid grey;
    
    }
    
    </style>

{% endblock %}

{% block content %}
<div class="header">
    <a href="#default" class="logo">GEEK-Fitness</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a class="active" href="/administration">Administration</a>
      <a href="/subnet_tool"> Subnet tool</a>
      <a href="/login"> Login-Logout</a>
    </div>
</div>
<br>
<br>

<h1 style="font-size:20px; padding-left:20px"> Switch configuration</h1>
<ul id="/show_switch_search">
    {% for field in result: %}
    <p> <b> Switch name:</b> {{field[1]}} <br>
        <b> Switch port:</b> {{field[2]}} &nbsp&nbsp <b> Switch port mode:</b> {{field[3]}}<br>
        <b> Terminal device:</b> {{field[4]}} &nbsp&nbsp <b> Termianl devide MAC-Address:</b> {{field[5]}} &nbsp&nbsp <b></b>
    {% endfor %}
  </ul>
  </ul>
  <button class="button button1"  value="Go back!" onclick="location.href='http://127.0.0.1:5000/switch_configuration'"> Return</button>

  <button class="button button2"  value="Go home!" onclick="location.href='http://127.0.0.1:5000/'"> Home</button>
<br>
<br>
<br>
{% endblock %}